<!DOCTYPE html>
<html ng-app="appLivro">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../css/site.css" rel="stylesheet" />

</head>
<body class="container-fluid" ng-controller="livroController">

    <div class="container-fluid p-3 mb-2 text-white" style="background-color: #00569f">
        <h5 class="row my-2 ml-3 p-0 text-white">Sistema Controle de Livros - Consultar Livros</h5>
    </div>

    <div class="row col-md-11 justify-content-end">
        <div class="col-sm-1">
            <a href="/index.html" class="btn btn-block btn-secondary font-weight-bold">Voltar</a>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label class="font-weight-bold">Pesquisar Livro</label>
            <input type="text" class="form-control"
                   placeholder="Digite aqui"
                   ng-model="pesquisa" />
        </div>
        <div class="col-md-3">
            <label class="font-weight-bold">Ordenar por:</label>
            <select class="form-control" ng-model="ordenacao">
                <option value="">Selecione</option>
                <option value="IdLivro">código do livro</option>
                <option value="Isbn">ISBN</option>
                <option value="NomeLivro">Nome do livro</option>
                <option value="NomeAutor">Nome do autor</option>
                <option value="Preco">Preço</option>
                <option value="DataPublicacao">Data da Publicação</option>
                <option value="ImagemCapa">Imagem da Capa</option>
                <option value="IdAutor">Código do autor</option>
            </select>
        </div>
    </div>

    <div class="alert-danger mt-3 mb-3">
        <strong>{{mensagem}}</strong>
    </div>

    <table class="table table-bordered table-hover table-striped"
           ng-init="consultar()">
        <thead>
            <tr>
                <th>Código livro</th>
                <th>ISBN</th>
                <th>Nome do livro</th>
                <th>Nome do autor</th>
                <th>Preço</th>
                <th>Data da publicação</th>
                <th>Imagem da capa</th>
                <th>Código autor</th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="l in livros | filter : pesquisa | orderBy : ordenacao">
                <td>{{l.IdLivro}}</td>
                <td>{{l.Isbn}}</td>
                <td>{{l.NomeLivro}}</td>
                <td>{{l.NomeAutor}}</td>
                <td>{{l.Preco | currency : 'R$'}}</td>
                <td>{{l.DataPublicacao | date : 'dd/MM/yyyy'}}</td>
                <td><img src="{{l.ImagemCapa}}" class="img-capa" /></td>
                <td>{{l.IdAutor}}</td>
                <td>
                    <button class="btn btn-primary btn-sm"
                            data-target="#janelaedicao"
                            data-toggle="modal"
                            ng-click="obter(l.IdLivro)">
                        Atualizar
                    </button>

                    <button class="btn btn-danger btn-sm"
                            data-target="#janelaexclusao"
                            data-toggle="modal"
                            ng-click="obter(l.IdLivro)">
                        Excluir
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    Quantidade de registros:
                    {{(livros | filter : pesquisa).length}}
                </td>
            </tr>
        </tfoot>
    </table>

    <div id="janelaedicao" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h4 class="text-white">Atualizar Livro</h4>
                </div>
                <div class="modal-body">

                    <label>Código do Livro:</label>
                    <input type="text" class="form-control"
                           readonly="readonly"
                           ng-model="livro.IdLivro" />
                    <br />

                    <label>ISBN do Livro:</label>
                    <input type="text" class="form-control"
                           ng-model="livro.Isbn" />
                    <br />

                    <label>Nome do Livro:</label>
                    <input type="text" class="form-control"
                           ng-model="livro.NomeLivro" />
                    <br />

                    <label>Nome do Autor:</label>
                    <input type="text" class="form-control"
                           ng-model="livro.NomeAutor" />
                    <br />

                    <label>Preço:</label>
                    <input type="text" class="form-control"
                           ng-model="livro.Preco" />
                    <br />

                    <label>Data da Publicação:</label>
                    <input type="text" class="form-control"
                           ng-model="livro.DataPublicacao" />
                    <br />

                    <label>Url da imagem:</label>
                    <input type="text" class="form-control"
                           ng-model="livro.ImagemCapa" />
                    <br />

                    <label>Código Autor:</label>
                    <input type="text" class="form-control"
                           ng-model="livro.IdAutor" />
                    <br />

                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary"
                            ng-click="atualizar()"
                            data-dismiss="modal">
                        Atualizar Dados
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div id="janelaexclusao" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h4 class="text-white">Excluir Livro</h4>
                </div>
                <div class="modal-body">

                    <p>
                        Deseja realmente excluir este Livro?
                    </p>

                    <div class="col-md-4">
                        <img src="{{livro.ImagemCapa}}" width="200" />
                    </div>

                    Código do Livro: <strong>{{livro.IdLivro}}</strong>
                    <br />

                    ISBN: <strong>{{livro.Isbn}}</strong>
                    <br />

                    Nome do Livro: <strong>{{livro.NomeLivro}}</strong>
                    <br />

                    Nome do Autor: <strong>{{livro.NomeAutor}}</strong>
                    <br />

                    Preço: <strong>{{livro.Preco}}</strong>
                    <br />

                    Data Publicação: <strong>{{livro.DataPublicacao | date : 'dd/MM/yyyy'}}</strong>
                    <br />

                    Código do autor: <strong>{{livro.IdAutor}}</strong>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-danger"
                            ng-click="excluir()"
                            data-dismiss="modal">
                        Confirmar Exclusão
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="../../Scripts/jquery-3.0.0.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/angular.min.js"></script>

    <script>

        var appLivro = angular.module('appLivro', []);

        appLivro.controller('livroController',
            function ($scope, $http) {

                $scope.atualizar = function () {

                    $http.put("http://localhost:60599/api/Livro/", $scope.livro)
                        .then(function (result) {
                            $scope.mensagem = result.data;
                            $scope.consultar();
                        })
                        .catch(function (e) {
                            $scope.mensagem = e.data;
                        });
                }

                $scope.obter = function (id) {
                    $http.get("http://localhost:60599/api/Livro/" + id)
                        .then(function (result) {

                            $scope.livro = result.data;
                        })
                        .catch(function (e) {

                            $scope.mensagem = e.data;
                        })
                }

                $scope.excluir = function () {

                    $http.delete("http://localhost:60599/api/Livro/" + $scope.livro.IdLivro)
                        .then(function (result) {

                            $scope.mensagem = result.data;

                            $scope.consultar();
                        })
                        .catch(function (e) {
                            $scope.mensagem = e.data;
                        });
                };
                
                $scope.consultar = function () {

                    $http.get("http://localhost:60599/api/Livro")
                        .then(function (result) {
                            $scope.livros = result.data;
                        })
                        .catch(function (e) {
                            $scope.mensagem = e.data;
                        });
                }
            });

    </script>

</body>
</html>
