<!DOCTYPE html>
<html ng-app="appAutor">
<head>
    <meta charset="utf-8" />
    <title></title>
    <!-- folha de estilo CSS do bootstrap -->
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container-fluid" ng-controller="autorController">

    <div class="container-fluid p-3 mb-2 text-white" style="background-color: #00569f">
        <h5 class="row my-2 ml-3 p-0 text-white">Sistema Controle de Livros - Consultar Autor</h5>
    </div>

    <div class="row col-md-11 justify-content-end">
        <div class="col-sm-1">
            <a href="/index.html" class="btn btn-block btn-secondary font-weight-bold">Voltar</a>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label class="font-weight-bold">Pesquisar Autor</label>
            <input type="text" class="form-control"
                   placeholder="Digite aqui"
                   ng-model="pesquisa" />
        </div>
    </div>


    <div class="alert-danger mt-3 mb-3">
        <strong>{{mensagem}}</strong>
    </div>

    <table class="table table-bordered table-hover table-striped mt-3"
           ng-init="consultar()">
        <thead>
            <tr>
                <th>IdAutor</th>
                <th>Nome do Autor</th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in autores | filter : pesquisa">
                <td>{{a.IdAutor}}</td>
                <td>{{a.Nome}}</td>
                <td>
                    <button class="btn btn-primary btn-sm"
                            data-target="#janelaedicao"
                            data-toggle="modal"
                            ng-click="obter(a.IdAutor)">
                        Atualizar
                    </button>

                    <button class="btn btn-danger btn-sm"
                            data-target="#janelaexclusao"
                            data-toggle="modal"
                            ng-click="obter(a.IdAutor)">
                        Excluir
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    Quantidade de registros: {{(autores | filter : pesquisa).length}}
                </td>
            </tr>
        </tfoot>
    </table>

    <div id="janelaedicao" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h4 class="text-white">Atualizar Autor</h4>
                </div>
                <div class="modal-body">

                    <label>Código do Autor:</label>
                    <input type="text" class="form-control"
                           readonly="readonly"
                           ng-model="autor.IdAutor" />
                    <br />

                    <label>Nome do Autor:</label>
                    <input type="text" class="form-control"
                           ng-model="autor.Nome" />
                    <br />

                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary"
                            ng-click="atualizar()"
                            data-dismiss="modal">
                        Atualizar Dados
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div id="janelaexclusao" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h4 class="text-white">Excluir Autor</h4>
                </div>
                <div class="modal-body">

                    <p>
                        Deseja realmente excluir este Autor?
                    </p>

                    Código do Autor: <strong>{{autor.IdAutor}}</strong>
                    <br />

                    Nome do Autor: <strong>{{autor.Nome}}</strong>
                    <br />

                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-danger"
                            ng-click="excluir()"
                            data-dismiss="modal">
                        Confirmar Exclusão
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script src="../../Scripts/jquery-3.0.0.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/angular.min.js"></script>


    <script>

        var appAutor = angular.module('appAutor', []);

        appAutor.controller('autorController',
            function ($scope, $http) {

                $scope.atualizar = function () {

                    $http.put("http://localhost:60599/api/Autor/", $scope.autor)
                        .then(function (result) {
                            $scope.mensagem = result.data;
                            $scope.consultar();
                        })
                        .catch(function (e) {
                            $scope.mensagem = e.data;
                        });
                }

                $scope.obter = function (id) {
                    $http.get('http://localhost:60599/api/Autor/' + id)
                        .then(function (result) {

                            $scope.autor = result.data;
                        })
                        .catch(function (e) {

                            $scope.mensagem = e.data;
                        });
                }

                $scope.excluir = function () {
                    $http.delete("http://localhost:60599/api/Autor/" + $scope.autor.IdAutor)
                        .then(function (result) {

                            $scope.mensagem = result.data;

                            $scope.consultar();
                        })
                        .catch(function (e) {
                            $scope.mensagem = e.data;
                        });
                }


                //função para consultar os estoques na API
                $scope.consultar = function () {

                    $http.get("http://localhost:60599/api/Autor")
                        .then(function (result) {
                            $scope.autores = result.data;
                        })
                        .catch(function (e) {
                            $scope.mensagem = e.data;
                        });
                }

            });

    </script>
</body>
</html>
